<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/UserManagement.css">
</head>
<body>

<form action="/change_password" method="post" style="max-width: 420px; margin: 0 auto;">
    <div>
        <h2>Change Password</h2>
    </div>
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Enter your old password" required autofocus/>
            </p>
            <p>
                <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Enter your new password" required autofocus/>
            </p>
            <p>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm your new password" required autofocus/>
            </p>
            <p class="text-center d-flex">
                <input type="submit" value="Change" class="btn btn-primary" />
            </p>
        </div>
    </div>
    <div>
        <p th:text="${message}"></p>
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>