body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

form input, form button {
    height: 40px;
}

form .form-control {
    border-radius: 20px;
    box-shadow: none;
    padding-left: 15px;
}

form button {
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

table {
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

th a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

th a:hover {
    color: black;
}


.sort-icon {
    margin-left: 5px;
}

.text-warning, .text-danger {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.text-warning:hover {
    color: #f0ad4e;
}

.text-danger:hover {
    color: #d9534f;
}

