.form-wrapper {
    position: relative;
    border: 2px solid #07294d; /* Viền bao quanh form */
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    background-color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

h2 {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 10px;
    font-size: 22px;
    font-weight: bold;
}

.avatar-detail-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Khoảng cách giữa ảnh và form */
}

.avatar-detail-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #07294d;
    object-fit: cover;
}

.form-group {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

h3 {
    text-align: center; /* Căn giữa */
    font-size: 24px; /* Kích thước chữ */
    font-weight: bold; /* Độ đậm */
    color: #0d47a1; /* Màu xanh đậm */
    margin-top: 20px; /* Khoảng cách phía trên */
    margin-bottom: 20px; /* Khoảng cách phía dưới */
    padding: 10px 0; /* Thêm padding để không quá sát */
    border-bottom: 2px solid #0d47a1; /* Viền dưới tạo điểm nhấn */
    display: inline-block; /* Giữ nội dung gọn gàng */
}


