<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
    <link rel="stylesheet" th:href="@{/css/editChapterStyle.css}">
</head>
<body>

<div class="container">
    <h2>Edit Course</h2>

    <form action="/teacher/chapter/edit/update" method="post">
        <input type="hidden" name="id" th:value="${chapter.getId()}">
        <input type="hidden" name="courseId" th:value="${chapter.course.getId()}">
        <input type="hidden" name="chapterDriveLink" th:value="${chapter.getChapterDriveLink()}"/>

        <label>Order:</label>
        <input type="number" name="order" th:value="${chapter.getChapterOrder()}" required>

        <label>Title:</label>
        <input type="text" name="title" th:value="${chapter.getChapterTitle()}" required>

        <label>Description:</label>
        <textarea name="description" rows="3" th:text="${chapter.getDescription()}"></textarea>

        <div class="btn-group">
            <button type="submit" class="save-btn">Save</button>
            <button type="button" class="cancel-btn" onclick="closeEditForm()">Cancel</button>
        </div>
    </form>
    <!-- Hiển thị lỗi -->
    <div th:if="${error}" class="error-messages">
        <p th:text="${error}">
    </div>

    <!-- Hiển thị thông báo thành công -->
    <div th:if="${notification}" class="success-message">
        <p th:text="${notification}"></p>
    </div>

    <form action="/teacher/chapter" method="get" id="returnCourseList">
        <input type="number" name="courseId" th:value="${chapter.course.getId()}" hidden>
    </form>

</div>

<script>
    function closeEditForm() {
        document.querySelector('#returnCourseList').submit();
    }
</script>

</body>
</html>
