<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subject List</title>
    <link rel="stylesheet" th:href="@{/css/subjectListStyle.css}">
    <!-- Thư viện jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Vendor css (Require in all Page) -->
    <link href="/css/vendor.min.css" rel="stylesheet" type="text/css"/>

    <!-- Icons css (Require in all Page) -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css (Require in all Page) -->
    <link href="/css/app.min.css" rel="stylesheet" type="text/css"/>

    <!-- Theme Config js (Require in all Page) -->
    <script src="/js/config.js"></script>

    <style>
        .sub-navbar-nav li {
            margin-left: 40px; /* Thụt vào từng mục */
            list-style-type: none; /* Bỏ dấu chấm mặc định */
        }

        h3 {
            text-align: center; /* Căn giữa */
            font-size: 24px; /* Kích thước chữ */
            font-weight: bold; /* Độ đậm */
            color: #0d47a1; /* Màu xanh đậm */
            margin-top: 20px; /* Khoảng cách phía trên */
            margin-bottom: 20px; /* Khoảng cách phía dưới */
            padding: 10px 0; /* Thêm padding để không quá sát */
            border-bottom: 2px solid #0d47a1; /* Viền dưới tạo điểm nhấn */
            display: inline-block; /* Giữ nội dung gọn gàng */
        }

        .image-content img {
            width: 100%; /* Phủ toàn bộ chiều rộng */
            height: 100%; /* Chiều cao luôn bằng 50px */
            object-fit: cover; /* Cắt ảnh để vừa vặn như banner */
        }

        .btn {
            border-radius: 8px;
        }

    </style>
</head>
<body>
<!-- START Wrapper -->
<div class="wrapper">

    <!-- ========== Topbar Start ========== -->
    <header class="topbar" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="d-flex align-items-center">
                    <!-- Menu Toggle Button -->
                    <div class="topbar-item">
                        <button type="button" class="button-toggle-menu me-2">
                            <iconify-icon icon="solar:hamburger-menu-broken" class="fs-24 align-middle"></iconify-icon>
                        </button>
                    </div>

                    <!-- Menu Toggle Button -->
                    <a class="navbar-brand" href="/home">
                        <img src="/image/learningz.png" alt="Logo" width="60px">
                        <a style="font-size: 24px; font-weight: bold;">
                            Learning<span style="font-size: 30px; color: blue;">Z</span>
                        </a>
                    </a>
                </div>

                <div class="d-flex align-items-center gap-1">

                    <!-- Theme Color (Light/Dark) -->
                    <div class="topbar-item">
                        <button type="button" class="topbar-button" id="light-dark-mode">
                            <iconify-icon icon="solar:moon-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                        </button>
                    </div>

                    <!-- Theme Setting -->
                    <div class="topbar-item d-none d-md-flex">
                        <button type="button" class="topbar-button" id="theme-settings-btn" data-bs-toggle="offcanvas"
                                data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
                            <iconify-icon icon="solar:settings-bold-duotone" class="fs-24 align-middle"></iconify-icon>
                        </button>
                    </div>

                    <!-- User -->
                    <div class="dropdown topbar-item">
                        <a type="button" class="topbar-button" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
    <span class="d-flex align-items-center">
        <img class="rounded-circle" width="32" th:src="@{${user.getAvtUrl()}}" alt="User Avatar">
    </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- Hiển thị tên người dùng -->
                            <h6 class="dropdown-header">Welcome <span th:text="${user.getUsername()}">User</span>!</h6>

                            <a class="dropdown-item" href="/home/profile">
                                <i class="bx bx-user-circle text-muted fs-18 align-middle me-1"></i>
                                <span class="align-middle">Profile</span>
                            </a>
                            <a class="dropdown-item" href="/home/change_password">
                                <i class="bx bx-key text-muted fs-18 align-middle me-1"></i>
                                <span class="align-middle">Change Password</span>
                            </a>

                            <div class="dropdown-divider my-1"></div>
                            <a class="dropdown-item text-danger" href="/logout">
                                <i class="bx bx-log-out fs-18 align-middle me-1"></i>
                                <span class="align-middle">Logout</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- Right Sidebar (Theme Settings) -->
    <div>
        <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="theme-settings-offcanvas">
            <div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
                <h5 class="text-white m-0">Theme Settings</h5>
                <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>

            <div class="offcanvas-body p-0">
                <div data-simplebar class="h-100">
                    <div class="p-3 settings-bar">

                        <div>
                            <h5 class="mb-3 font-16 fw-semibold">Color Scheme</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-bs-theme"
                                       id="layout-color-light" value="light">
                                <label class="form-check-label" for="layout-color-light">Light</label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-bs-theme" id="layout-color-dark"
                                       value="dark">
                                <label class="form-check-label" for="layout-color-dark">Dark</label>
                            </div>
                        </div>

                        <div>
                            <h5 class="my-3 font-16 fw-semibold">Topbar Color</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-topbar-color"
                                       id="topbar-color-light" value="light">
                                <label class="form-check-label" for="topbar-color-light">Light</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-topbar-color"
                                       id="topbar-color-dark" value="dark">
                                <label class="form-check-label" for="topbar-color-dark">Dark</label>
                            </div>
                        </div>


                        <div>
                            <h5 class="my-3 font-16 fw-semibold">Menu Color</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-color"
                                       id="leftbar-color-light" value="light">
                                <label class="form-check-label" for="leftbar-color-light">
                                    Light
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-color"
                                       id="leftbar-color-dark" value="dark">
                                <label class="form-check-label" for="leftbar-color-dark">
                                    Dark
                                </label>
                            </div>
                        </div>

                        <div>
                            <h5 class="my-3 font-16 fw-semibold">Sidebar Size</h5>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size"
                                       id="leftbar-size-default" value="default">
                                <label class="form-check-label" for="leftbar-size-default">
                                    Default
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size"
                                       id="leftbar-size-small" value="condensed">
                                <label class="form-check-label" for="leftbar-size-small">
                                    Condensed
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size" id="leftbar-hidden"
                                       value="hidden">
                                <label class="form-check-label" for="leftbar-hidden">
                                    Hidden
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size"
                                       id="leftbar-size-small-hover-active" value="sm-hover-active">
                                <label class="form-check-label" for="leftbar-size-small-hover-active">
                                    Small Hover Active
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="data-menu-size"
                                       id="leftbar-size-small-hover" value="sm-hover">
                                <label class="form-check-label" for="leftbar-size-small-hover">
                                    Small Hover
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="offcanvas-footer border-top p-3 text-center">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-danger w-100" id="reset-layout">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== Topbar End ========== -->

    <!-- ========== App Menu Start ========== -->
    <div class="main-nav">
        <!-- Sidebar Logo -->
        <div class="logo-box">
            <a href="/home" class="logo-dark">
                <img src="/image/learningz.png" class="logo-sm" alt="logo sm">
                <img src="/image/learningz.png" class="logo-lg" alt="logo dark">

            </a>
            <a href="/home" class="logo-light">
                <img src="/image/learningz.png" class="logo-sm" alt="logo sm">
                <img src="/image/learningz.png" class="logo-lg" alt="logo light">
            </a>
        </div>

        <!-- Menu Toggle Button (sm-hover) -->
        <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
            <iconify-icon icon="solar:double-alt-arrow-right-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
        </button>

        <div class="scrollbar" data-simplebar>
            <ul class="navbar-nav" id="navbar-nav">

                <li class="menu-title">General</li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="viewDashBoard(this)">
                                   <span class="nav-icon">
                                        <i class="fa-solid fa-chart-line"></i>
                                   </span>
                        <span class="nav-text"> Dashboard </span>
                        <form action="/teacher/dashboard" id="viewDashboard">
                            <input type="hidden" name="userId" th:value="${user.getId()}">
                        </form>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/teacher">
                                   <span class="nav-icon">
                                        <i class="fa-regular fa-book"></i>
                                   </span>
                        <span class="nav-text">Courses Management</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="viewSubjectList(this)">
                                   <span class="nav-icon">
                                        <i class="fa-light fa-book-open"></i>
                                   </span>
                        <span class="nav-text">Subject List</span>
                        <form action="/teacher/subject" id="viewSubjectList">
                            <input type="number" name="userId" th:value="${user.getId()}" hidden>
                        </form>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/teacher/quizzes">
                                   <span class="nav-icon">
                                        <i class="fa-regular fa-lightbulb"></i>
                                   </span>
                        <span class="nav-text">Quizzes</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- ========== App Menu End ========== -->

    <!-- ==================================================== -->
    <!-- Start right Content here -->
    <!-- ==================================================== -->

    <div class="page-content">
        <div class="container">
            <h2>Subject List</h2>

            <div class="filter-section">
                <form action="/teacher/subject/search">
                    <input name="userId" th:value="${user.getId()}" hidden>
                    <input name="subjectSearchKey" type="text" id="searchInput" placeholder="Search subject by name">
                    <input type="submit" value="Search">
                </form>

                <form action="/teacher/subject/addSubject" method="get">
                    <input type="hidden" name="userId" th:value="${user.getId()}">
                    <button type="submit">+ Add New Subject</button>
                </form>

            </div>

            <table th:if="${notification}">
                <thead>
                <tr>
                    <th style="margin: auto">ID</th>
                    <th>Subject Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${notification}" colspan="9" style="text-align: center;"></td>
                </tr>
                </tbody>
            </table>
            <table th:if="${subjectList}" id="listTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Subject Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subject:${subjectList}">
                    <td th:text="${subject.getId()}"></td>
                    <td th:text="${subject.getName()}"></td>
                    <td>
                        <button class="desc-btn" onclick="showPopup(this)"><i class="fa-solid fa-bars-staggered"></i>
                        </button>
                        <span class="description-text" hidden th:text="${subject.getDescription()}"></span>
                    </td>
                    <td class="actions">
                        <div class="top-actions">
                            <form action="/teacher/subject/edit" method="POST" style="display: inline">
                                <input name="userId" th:value="${user.getId()}" hidden>
                                <input name="subjectId" th:value="${subject.getId()}" hidden>
                                <button type="submit" class="edit-btn" title="Edit"><i
                                        class="fa-solid fa-pen-to-square"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="descPopup" class="popup hidden">
                <div class="popup-content">
                    <span class="close-btn" onclick="closePopup()">&times;</span>
                    <p id="popupText"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================================================== -->
    <!-- End Page Content -->
    <!-- ==================================================== -->
</div>
<!-- END Wrapper -->

<!-- Vendor Javascript (Require in all Page) -->
<script src="/js/vendor.js"></script>

<!-- App Javascript (Require in all Page) -->
<script src="/js/app.js"></script>

<!-- Vector Map Js -->
<script src="/vendor/jsvectormap/js/jsvectormap.min.js"></script>
<script src="/vendor/jsvectormap/maps/world-merc.js"></script>
<script src="/vendor/jsvectormap/maps/world.js"></script>

<!-- Dashboard Js -->
<script src="/js/pages/dashboard.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const avatarBtn = document.querySelector(".expertAvatar button");
        const avatarDropdown = document.querySelector(".expertAvatar");

        avatarBtn.addEventListener("click", function (event) {
            event.stopPropagation();
            avatarDropdown.classList.toggle("active");
        });

        document.addEventListener("click", function () {
            avatarDropdown.classList.remove("active");
        });

        avatarDropdown.addEventListener("click", function (event) {
            event.stopPropagation();
        });
    });

    function showPopup(button) {
        document.getElementById("popupText").textContent = button.nextElementSibling.textContent;
        document.getElementById("descPopup").classList.remove("hidden");
    }

    function closePopup() {
        document.getElementById("descPopup").classList.add("hidden");
    }

    $(document).ready(function () {
        $('#listTable').DataTable({
            "pageLength": 6,
            "lengthChange": false,
            "info": false,
            "searching": false
        });
    });

    function viewSubjectList(e) {
        let form = document.querySelector('#viewSubjectList')
        form.submit();
    }

    function viewDashBoard(e) {
        let form = document.querySelector('#viewDashboard');
        form.submit();
    }
</script>
</body>
</html>